@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  /* Force these colors to be used always, regardless of Dark Mode */
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: 'Poppins', sans-serif;
}